<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzz.pro..UserMatchMapper" >
  <resultMap id="BaseResultMap" type="com.zzz.pro.pojo.dto.UserMatch" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="my_user_id" property="myUserId" jdbcType="VARCHAR" />
    <result column="match_user_id" property="matchUserId" jdbcType="VARCHAR" />
    <result column="active_state" property="activeState" jdbcType="INTEGER" />
  </resultMap>
</mapper>